-- MySQL dump 10.13  Distrib 8.4.11, for Linux (x86_64)
--
-- Host: localhost    Database: autorental
-- ------------------------------------------------------
-- Server version	8.4.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accounts_clientdocument`
--

DROP TABLE IF EXISTS `accounts_clientdocument`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_clientdocument` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_type` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `document_number` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `file` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration_date` date DEFAULT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `rejection_reason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `validated_at` datetime(6) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `validated_by_id` bigint DEFAULT NULL,
  `client_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `client_doc_status_idx` (`status`),
  KEY `client_doc_exp_idx` (`expiration_date`),
  KEY `client_doc_active_idx` (`is_active`),
  KEY `accounts_clientdocum_validated_by_id_87e5dba0_fk_accounts_` (`validated_by_id`),
  KEY `accounts_clientdocument_client_id_c88509ea` (`client_id`),
  KEY `client_doc_active_type_idx` (`client_id`,`document_type`,`is_active`),
  CONSTRAINT `accounts_clientdocum_client_id_c88509ea_fk_accounts_` FOREIGN KEY (`client_id`) REFERENCES `accounts_clientprofile` (`id`),
  CONSTRAINT `accounts_clientdocum_validated_by_id_87e5dba0_fk_accounts_` FOREIGN KEY (`validated_by_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_clientdocument`
--

LOCK TABLES `accounts_clientdocument` WRITE;
/*!40000 ALTER TABLE `accounts_clientdocument` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_clientdocument` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_clientprofile`
--

DROP TABLE IF EXISTS `accounts_clientprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_clientprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_of_birth` date DEFAULT NULL,
  `address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `profile_status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `rejection_reason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `client_profile_status_idx` (`profile_status`),
  KEY `client_profile_created_idx` (`created_at`),
  KEY `client_profile_updated_idx` (`updated_at`),
  CONSTRAINT `accounts_clientprofile_user_id_48cb1b99_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_clientprofile`
--

LOCK TABLES `accounts_clientprofile` WRITE;
/*!40000 ALTER TABLE `accounts_clientprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_clientprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_role`
--

DROP TABLE IF EXISTS `accounts_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_role` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `label` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `role_code_unique` (`code`),
  KEY `role_is_active_idx` (`is_active`),
  KEY `role_created_at_idx` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_role`
--

LOCK TABLES `accounts_role` WRITE;
/*!40000 ALTER TABLE `accounts_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user`
--

DROP TABLE IF EXISTS `accounts_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `email` varchar(254) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `role_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `user_name_idx` (`last_name`,`first_name`),
  KEY `user_role_active_idx` (`role_id`,`is_active`),
  KEY `user_joined_idx` (`date_joined`),
  CONSTRAINT `accounts_user_role_id_a6dd19b0_fk_accounts_role_id` FOREIGN KEY (`role_id`) REFERENCES `accounts_role` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user`
--

LOCK TABLES `accounts_user` WRITE;
/*!40000 ALTER TABLE `accounts_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_groups`
--

DROP TABLE IF EXISTS `accounts_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_groups_user_id_group_id_59c0b32f_uniq` (`user_id`,`group_id`),
  KEY `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` (`group_id`),
  CONSTRAINT `accounts_user_groups_group_id_bd11a704_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `accounts_user_groups_user_id_52b62117_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_groups`
--

LOCK TABLES `accounts_user_groups` WRITE;
/*!40000 ALTER TABLE `accounts_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accounts_user_user_permissions`
--

DROP TABLE IF EXISTS `accounts_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounts_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq` (`user_id`,`permission_id`),
  KEY `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` (`permission_id`),
  CONSTRAINT `accounts_user_user_p_permission_id_113bb443_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `accounts_user_user_p_user_id_e4f0a161_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounts_user_user_permissions`
--

LOCK TABLES `accounts_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `accounts_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounts_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `common_backuprecord`
--

DROP TABLE IF EXISTS `common_backuprecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `common_backuprecord` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `backup_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_size` bigint DEFAULT NULL,
  `file_path` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `error_message` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `common_backuprecord`
--

LOCK TABLES `common_backuprecord` WRITE;
/*!40000 ALTER TABLE `common_backuprecord` DISABLE KEYS */;
INSERT INTO `common_backuprecord` VALUES (1,'autorental_20260811_203023.sql','EN_COURS','DATABASE',NULL,'C:\\Users\\liern\\OneDrive\\Bureau\\AutoRental\\Backend\\backups\\autorental_20260811_203023.sql',NULL,'2026-08-11 20:30:23.469673',NULL);
/*!40000 ALTER TABLE `common_backuprecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `common_systemlog`
--

DROP TABLE IF EXISTS `common_systemlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `common_systemlog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `level` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ip_address` char(39) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `common_systemlog_user_id_f7d74e9d_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `common_systemlog_user_id_f7d74e9d_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `common_systemlog`
--

LOCK TABLES `common_systemlog` WRITE;
/*!40000 ALTER TABLE `common_systemlog` DISABLE KEYS */;
INSERT INTO `common_systemlog` VALUES (1,'LOGIN_SUCCESS','Utilisateur connecte avec succes.','INFO','127.0.0.1','2026-08-11 18:54:31.153190',1),(2,'LOGIN_SUCCESS','Utilisateur connecte avec succes.','INFO','127.0.0.1','2026-08-11 18:56:44.802292',5);
/*!40000 ALTER TABLE `common_systemlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_accounts_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
INSERT INTO `django_admin_log` VALUES (1,'2026-08-01 01:47:18.244635','2','nicolas.lrnx@gmail.com',1,'[{\"added\": {}}]',11,1),(2,'2026-08-05 15:29:04.616325','2','Probe Park - P2',1,'[{\"added\": {}}]',15,1);
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inspections_damage`
--

DROP TABLE IF EXISTS `inspections_damage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inspections_damage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `severity` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `location` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_new` tinyint(1) NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `estimated_cost` decimal(10,2) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `resolved_at` datetime(6) DEFAULT NULL,
  `reported_by_id` bigint NOT NULL,
  `vehicle_id` bigint NOT NULL,
  `inspection_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `damage_inspection_idx` (`inspection_id`),
  KEY `damage_vehicle_idx` (`vehicle_id`),
  KEY `damage_status_idx` (`status`),
  KEY `damage_severity_idx` (`severity`),
  KEY `inspections_damage_reported_by_id_3cd569f8_fk_accounts_user_id` (`reported_by_id`),
  KEY `inspections_damage_status_b3aaf0e5` (`status`),
  CONSTRAINT `inspections_damage_inspection_id_883d30fd_fk_inspectio` FOREIGN KEY (`inspection_id`) REFERENCES `inspections_inspection` (`id`),
  CONSTRAINT `inspections_damage_reported_by_id_3cd569f8_fk_accounts_user_id` FOREIGN KEY (`reported_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `inspections_damage_vehicle_id_40128089_fk_vehicles_vehicle_id` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`),
  CONSTRAINT `damage_estimated_cost_gte_0` CHECK (((`estimated_cost` >= 0) or (`estimated_cost` is null))),
  CONSTRAINT `damage_resolved_at_only_when_resolved` CHECK (((`resolved_at` is null) or (`status` = _utf8mb4'RESOLU')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inspections_damage`
--

LOCK TABLES `inspections_damage` WRITE;
/*!40000 ALTER TABLE `inspections_damage` DISABLE KEYS */;
/*!40000 ALTER TABLE `inspections_damage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inspections_damage_evidence_photos`
--

DROP TABLE IF EXISTS `inspections_damage_evidence_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inspections_damage_evidence_photos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `damage_id` bigint NOT NULL,
  `inspectionphoto_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `inspections_damage_evide_damage_id_inspectionphot_2aa72974_uniq` (`damage_id`,`inspectionphoto_id`),
  KEY `inspections_damage_e_inspectionphoto_id_696b6d83_fk_inspectio` (`inspectionphoto_id`),
  CONSTRAINT `inspections_damage_e_damage_id_440bee4f_fk_inspectio` FOREIGN KEY (`damage_id`) REFERENCES `inspections_damage` (`id`),
  CONSTRAINT `inspections_damage_e_inspectionphoto_id_696b6d83_fk_inspectio` FOREIGN KEY (`inspectionphoto_id`) REFERENCES `inspections_inspectionphoto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inspections_damage_evidence_photos`
--

LOCK TABLES `inspections_damage_evidence_photos` WRITE;
/*!40000 ALTER TABLE `inspections_damage_evidence_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `inspections_damage_evidence_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inspections_inspection`
--

DROP TABLE IF EXISTS `inspections_inspection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inspections_inspection` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `inspection_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `mileage` int unsigned DEFAULT NULL,
  `energy_level_percent` smallint unsigned DEFAULT NULL,
  `comments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `has_critical_issue` tinyint(1) NOT NULL,
  `critical_issue_description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `started_at` datetime(6) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `completed_by_id` bigint DEFAULT NULL,
  `reservation_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `insp_unique_reservation_type` (`reservation_id`,`inspection_type`),
  KEY `insp_reservation_idx` (`reservation_id`),
  KEY `insp_status_idx` (`status`),
  KEY `insp_type_idx` (`inspection_type`),
  KEY `inspections_inspecti_completed_by_id_102968ee_fk_accounts_` (`completed_by_id`),
  KEY `inspections_inspection_status_35306ace` (`status`),
  CONSTRAINT `inspections_inspecti_completed_by_id_102968ee_fk_accounts_` FOREIGN KEY (`completed_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `inspections_inspecti_reservation_id_0bb8c69b_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `insp_completed_at_only_when_done` CHECK (((`completed_at` is null) or (`status` = _utf8mb4'TERMINE'))),
  CONSTRAINT `insp_energy_0_100` CHECK ((((`energy_level_percent` >= 0) and (`energy_level_percent` <= 100)) or (`energy_level_percent` is null))),
  CONSTRAINT `insp_mileage_gte_0` CHECK (((`mileage` >= 0) or (`mileage` is null))),
  CONSTRAINT `inspections_inspection_chk_1` CHECK ((`mileage` >= 0)),
  CONSTRAINT `inspections_inspection_chk_2` CHECK ((`energy_level_percent` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inspections_inspection`
--

LOCK TABLES `inspections_inspection` WRITE;
/*!40000 ALTER TABLE `inspections_inspection` DISABLE KEYS */;
INSERT INTO `inspections_inspection` VALUES (1,'INITIAL','TERMINE',15010,80,'Etat g├®n├®ral correct au d├®part.',0,'','2026-08-06 14:10:57.690152','2026-08-06 14:38:06.073518','2026-08-06 14:10:57.691406','2026-08-06 14:38:06.073842',8,2),(2,'FINAL','TERMINE',15120,55,'Retour du v├®hicule, ├®tat g├®n├®ral correct.',0,'','2026-08-06 14:42:08.988526','2026-08-06 14:47:39.341058','2026-08-06 14:42:08.988873','2026-08-06 14:47:39.341369',8,2);
/*!40000 ALTER TABLE `inspections_inspection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inspections_inspectionphoto`
--

DROP TABLE IF EXISTS `inspections_inspectionphoto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inspections_inspectionphoto` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `photo_type` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `file` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `position` int unsigned NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `inspection_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `insp_photo_unique_type_position` (`inspection_id`,`photo_type`,`position`),
  KEY `insp_photo_type_idx` (`inspection_id`,`photo_type`),
  CONSTRAINT `inspections_inspecti_inspection_id_401443a4_fk_inspectio` FOREIGN KEY (`inspection_id`) REFERENCES `inspections_inspection` (`id`),
  CONSTRAINT `insp_photo_position_gte_0` CHECK ((`position` >= 0)),
  CONSTRAINT `insp_photo_single_views_pos0` CHECK (((`photo_type` in (_utf8mb4'DOMMAGE',_utf8mb4'AUTRE',_utf8mb4'INTERIEUR')) or (`position` = 0))),
  CONSTRAINT `inspections_inspectionphoto_chk_1` CHECK ((`position` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inspections_inspectionphoto`
--

LOCK TABLES `inspections_inspectionphoto` WRITE;
/*!40000 ALTER TABLE `inspections_inspectionphoto` DISABLE KEYS */;
/*!40000 ALTER TABLE `inspections_inspectionphoto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interventions_intervention`
--

DROP TABLE IF EXISTS `interventions_intervention`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interventions_intervention` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `reference` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `intervention_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `report` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `estimated_cost` decimal(10,2) DEFAULT NULL,
  `final_cost` decimal(10,2) DEFAULT NULL,
  `started_at` datetime(6) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `cancelled_at` datetime(6) DEFAULT NULL,
  `cancellation_reason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `assigned_to_id` bigint DEFAULT NULL,
  `created_by_id` bigint NOT NULL,
  `inspection_id` bigint DEFAULT NULL,
  `reservation_id` bigint DEFAULT NULL,
  `vehicle_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference` (`reference`),
  KEY `interv_reference_idx` (`reference`),
  KEY `interv_status_idx` (`status`),
  KEY `interv_type_idx` (`intervention_type`),
  KEY `interv_vehicle_status_idx` (`vehicle_id`,`status`),
  KEY `interv_assignee_status_idx` (`assigned_to_id`,`status`),
  KEY `interv_reservation_idx` (`reservation_id`),
  KEY `interventions_interv_created_by_id_2dc7d1ea_fk_accounts_` (`created_by_id`),
  KEY `interventions_interv_inspection_id_430366f8_fk_inspectio` (`inspection_id`),
  CONSTRAINT `interventions_interv_assigned_to_id_8ef827eb_fk_accounts_` FOREIGN KEY (`assigned_to_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `interventions_interv_created_by_id_2dc7d1ea_fk_accounts_` FOREIGN KEY (`created_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `interventions_interv_inspection_id_430366f8_fk_inspectio` FOREIGN KEY (`inspection_id`) REFERENCES `inspections_inspection` (`id`),
  CONSTRAINT `interventions_interv_reservation_id_8340b730_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `interventions_interv_vehicle_id_031fcf40_fk_vehicles_` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`),
  CONSTRAINT `interv_assigned_required_unless_to_assign` CHECK (((`status` = _utf8mb4'A_ATTRIBUER') or (`assigned_to_id` is not null))),
  CONSTRAINT `interv_completed_at_only_done` CHECK (((`completed_at` is null) or (`status` = _utf8mb4'TERMINEE'))),
  CONSTRAINT `interv_estimated_cost_gte_0` CHECK (((`estimated_cost` >= 0) or (`estimated_cost` is null))),
  CONSTRAINT `interv_final_cost_gte_0` CHECK (((`final_cost` >= 0) or (`final_cost` is null))),
  CONSTRAINT `interv_started_at_only_in_progress` CHECK ((((`started_at` is null) and (`status` in (_utf8mb4'A_ATTRIBUER',_utf8mb4'ATTRIBUEE',_utf8mb4'ANNULEE'))) or ((`started_at` is not null) and (`status` in (_utf8mb4'EN_COURS',_utf8mb4'TERMINEE')))))
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interventions_intervention`
--

LOCK TABLES `interventions_intervention` WRITE;
/*!40000 ALTER TABLE `interventions_intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `interventions_intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interventions_lockinglog`
--

DROP TABLE IF EXISTS `interventions_lockinglog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interventions_lockinglog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(24) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `result` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `failure_code` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `failure_message` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `attempted_reservation_id` bigint unsigned DEFAULT NULL,
  `ip_address` char(39) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(512) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metadata` json NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `reservation_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `vehicle_id` bigint DEFAULT NULL,
  `vehicle_access_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lock_log_res_created_idx` (`reservation_id`,`created_at`),
  KEY `lock_log_veh_created_idx` (`vehicle_id`,`created_at`),
  KEY `lock_log_user_created_idx` (`user_id`,`created_at`),
  KEY `lock_log_action_result_idx` (`action`,`result`),
  KEY `lock_log_created_at_idx` (`created_at`),
  KEY `interventions_lockin_vehicle_access_id_aaf50c6d_fk_intervent` (`vehicle_access_id`),
  CONSTRAINT `interventions_lockin_reservation_id_5ae4861b_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `interventions_lockin_vehicle_access_id_aaf50c6d_fk_intervent` FOREIGN KEY (`vehicle_access_id`) REFERENCES `interventions_vehicleaccess` (`id`),
  CONSTRAINT `interventions_lockin_vehicle_id_6deba677_fk_vehicles_` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`),
  CONSTRAINT `interventions_lockinglog_user_id_0faf6853_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `interventions_lockinglog_chk_1` CHECK ((`attempted_reservation_id` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interventions_lockinglog`
--

LOCK TABLES `interventions_lockinglog` WRITE;
/*!40000 ALTER TABLE `interventions_lockinglog` DISABLE KEYS */;
/*!40000 ALTER TABLE `interventions_lockinglog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interventions_technicalinspection`
--

DROP TABLE IF EXISTS `interventions_technicalinspection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interventions_technicalinspection` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mileage` int unsigned NOT NULL,
  `energy_level_percent` smallint unsigned NOT NULL,
  `observations` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `intervention_id` bigint NOT NULL,
  `vehicle_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tech_insp_intervention_idx` (`intervention_id`),
  KEY `tech_insp_vehicle_idx` (`vehicle_id`),
  KEY `tech_insp_created_at_idx` (`created_at`),
  CONSTRAINT `interventions_techni_intervention_id_adbce00f_fk_intervent` FOREIGN KEY (`intervention_id`) REFERENCES `interventions_intervention` (`id`),
  CONSTRAINT `interventions_techni_vehicle_id_eb736c25_fk_vehicles_` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`),
  CONSTRAINT `interventions_technicalinspection_chk_1` CHECK ((`mileage` >= 0)),
  CONSTRAINT `interventions_technicalinspection_chk_2` CHECK ((`energy_level_percent` >= 0)),
  CONSTRAINT `tech_insp_energy_0_100` CHECK (((`energy_level_percent` >= 0) and (`energy_level_percent` <= 100))),
  CONSTRAINT `tech_insp_mileage_gte_0` CHECK ((`mileage` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interventions_technicalinspection`
--

LOCK TABLES `interventions_technicalinspection` WRITE;
/*!40000 ALTER TABLE `interventions_technicalinspection` DISABLE KEYS */;
INSERT INTO `interventions_technicalinspection` VALUES (1,15120,0,'','2026-08-07 08:44:28.366072',1,2),(2,15120,0,'','2026-08-07 09:51:56.584207',2,2),(3,15120,0,'','2026-08-11 12:58:42.545844',11,2),(4,1,0,'','2026-08-11 13:30:50.675664',6,1);
/*!40000 ALTER TABLE `interventions_technicalinspection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interventions_technicalphoto`
--

DROP TABLE IF EXISTS `interventions_technicalphoto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interventions_technicalphoto` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `caption` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `technical_inspection_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `tech_photo_insp_idx` (`technical_inspection_id`),
  KEY `tech_photo_created_at_idx` (`created_at`),
  CONSTRAINT `interventions_techni_technical_inspection_7c3d615c_fk_intervent` FOREIGN KEY (`technical_inspection_id`) REFERENCES `interventions_technicalinspection` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interventions_technicalphoto`
--

LOCK TABLES `interventions_technicalphoto` WRITE;
/*!40000 ALTER TABLE `interventions_technicalphoto` DISABLE KEYS */;
INSERT INTO `interventions_technicalphoto` VALUES (1,'technical_inspections/photos/WhatsApp_Image_2026-03-24_at_4.26.36_PM.jpeg','Contr├┤le m├®canique du v├®hicule','2026-08-07 08:44:28.382302',1),(2,'technical_inspections/photos/WhatsApp_Image_2026-03-20_at_11.11.25_AM.jpeg','Nettoyage du v├®hicule termin├®','2026-08-07 09:51:56.615784',2),(3,'technical_inspections/photos/kangourou_final.png','r├®paration t├®min├®','2026-08-11 12:58:42.562178',3),(4,'technical_inspections/photos/WhatsApp_Image_2026-03-24_at_4_JBxUU5w.26.36_PM.jpeg','termin├®','2026-08-11 13:30:50.688032',4);
/*!40000 ALTER TABLE `interventions_technicalphoto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interventions_vehicleaccess`
--

DROP TABLE IF EXISTS `interventions_vehicleaccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interventions_vehicleaccess` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `lock_state` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `valid_from` datetime(6) NOT NULL,
  `valid_until` datetime(6) NOT NULL,
  `activated_at` datetime(6) DEFAULT NULL,
  `revoked_at` datetime(6) DEFAULT NULL,
  `last_unlocked_at` datetime(6) DEFAULT NULL,
  `last_locked_at` datetime(6) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `client_id` bigint NOT NULL,
  `reservation_id` bigint NOT NULL,
  `vehicle_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reservation_id` (`reservation_id`),
  KEY `veh_access_status_idx` (`status`),
  KEY `veh_access_is_active_idx` (`is_active`),
  KEY `veh_access_valid_from_idx` (`valid_from`),
  KEY `veh_access_valid_until_idx` (`valid_until`),
  KEY `veh_access_vehicle_active_idx` (`vehicle_id`,`is_active`),
  KEY `interventions_vehicl_client_id_2203be4b_fk_accounts_` (`client_id`),
  CONSTRAINT `interventions_vehicl_client_id_2203be4b_fk_accounts_` FOREIGN KEY (`client_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `interventions_vehicl_reservation_id_c656c2f0_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `interventions_vehicl_vehicle_id_5211fd85_fk_vehicles_` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interventions_vehicleaccess`
--

LOCK TABLES `interventions_vehicleaccess` WRITE;
/*!40000 ALTER TABLE `interventions_vehicleaccess` DISABLE KEYS */;
INSERT INTO `interventions_vehicleaccess` VALUES (1,'REVOKED','LOCKED','2026-08-06 13:47:54.731312','2026-08-08 16:17:54.731312','2026-08-06 14:38:06.193212','2026-08-06 14:47:39.467470','2026-08-06 14:39:38.168166','2026-08-06 14:47:39.442127',0,'2026-08-06 14:38:06.217693','2026-08-06 14:47:39.474235',8,2,2);
/*!40000 ALTER TABLE `interventions_vehicleaccess` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoicing_invoice`
--

DROP TABLE IF EXISTS `invoicing_invoice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoicing_invoice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `number` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `issue_date` date NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `tax_amount` decimal(10,2) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `billing_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `billing_address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `pdf_file` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `client_id` bigint NOT NULL,
  `reservation_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `number` (`number`),
  UNIQUE KEY `reservation_id` (`reservation_id`),
  KEY `invoice_client_issue_idx` (`client_id`,`issue_date`),
  KEY `invoice_status_issue_idx` (`status`,`issue_date`),
  CONSTRAINT `invoicing_invoice_client_id_eb77ced0_fk_accounts_` FOREIGN KEY (`client_id`) REFERENCES `accounts_clientprofile` (`id`),
  CONSTRAINT `invoicing_invoice_reservation_id_6353a844_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `invoice_currency_upper` CHECK ((`currency` = upper(`currency`))),
  CONSTRAINT `invoice_subtotal_gte_0` CHECK ((`subtotal` >= 0)),
  CONSTRAINT `invoice_tax_amount_gte_0` CHECK ((`tax_amount` >= 0)),
  CONSTRAINT `invoice_total_amount_gte_0` CHECK ((`total_amount` >= 0)),
  CONSTRAINT `invoice_total_matches_components` CHECK ((`total_amount` = (`subtotal` + `tax_amount`)))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoicing_invoice`
--

LOCK TABLES `invoicing_invoice` WRITE;
/*!40000 ALTER TABLE `invoicing_invoice` DISABLE KEYS */;
INSERT INTO `invoicing_invoice` VALUES (2,'AR-2026-000001','ISSUED','2026-08-06',200.00,0.00,200.00,'EUR','Client Incomplete','12 rue de Test, 1000 Bruxelles','invoices/AR-2026-000001.pdf','2026-08-06 13:20:34.906535','2026-08-06 13:55:37.416363',2,2);
/*!40000 ALTER TABLE `invoicing_invoice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoicing_invoiceline`
--

DROP TABLE IF EXISTS `invoicing_invoiceline`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoicing_invoiceline` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `line_type` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` decimal(10,2) NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `total_price` decimal(10,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `invoice_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `invoice_line_invoice_type_idx` (`invoice_id`,`line_type`),
  CONSTRAINT `invoicing_invoicelin_invoice_id_76c97100_fk_invoicing` FOREIGN KEY (`invoice_id`) REFERENCES `invoicing_invoice` (`id`),
  CONSTRAINT `invoice_line_qty_gt_0` CHECK ((`quantity` > 0)),
  CONSTRAINT `invoice_line_total_matches_components` CHECK ((`total_price` = (`quantity` * `unit_price`))),
  CONSTRAINT `invoice_line_total_price_gte_0` CHECK ((`total_price` >= 0)),
  CONSTRAINT `invoice_line_unit_price_gte_0` CHECK ((`unit_price` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoicing_invoiceline`
--

LOCK TABLES `invoicing_invoiceline` WRITE;
/*!40000 ALTER TABLE `invoicing_invoiceline` DISABLE KEYS */;
INSERT INTO `invoicing_invoiceline` VALUES (2,'VEHICLE_RENTAL','Location du vehicule',1.00,200.00,200.00,'2026-08-06 13:20:34.908859',2);
/*!40000 ALTER TABLE `invoicing_invoiceline` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications_notification`
--

DROP TABLE IF EXISTS `notifications_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `notification_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `related_object_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `related_object_id` bigint unsigned DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notification_user_id_b5e8c0ff` (`user_id`),
  KEY `notif_user_read_created_idx` (`user_id`,`is_read`,`created_at`),
  KEY `notif_type_idx` (`notification_type`),
  KEY `notif_related_obj_idx` (`related_object_type`,`related_object_id`),
  CONSTRAINT `notifications_notification_user_id_b5e8c0ff_fk_accounts_user_id` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `notif_read_state_consistency` CHECK ((((`is_read` = 0x00) and (`read_at` is null)) or ((`is_read` = 0x01) and (`read_at` is not null)))),
  CONSTRAINT `notifications_notification_chk_1` CHECK ((`related_object_id` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications_notification`
--

LOCK TABLES `notifications_notification` WRITE;
/*!40000 ALTER TABLE `notifications_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_deposit`
--

DROP TABLE IF EXISTS `payments_deposit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_deposit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mode` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `stripe_payment_intent_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `authorization_expires_at` datetime(6) DEFAULT NULL,
  `authorized_at` datetime(6) DEFAULT NULL,
  `captured_at` datetime(6) DEFAULT NULL,
  `released_at` datetime(6) DEFAULT NULL,
  `failed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `reservation_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `payments_deposit_status_db5da9f5` (`status`),
  KEY `dep_reservation_idx` (`reservation_id`),
  KEY `dep_status_idx` (`status`),
  KEY `dep_pi_idx` (`stripe_payment_intent_id`),
  CONSTRAINT `payments_deposit_reservation_id_cff8049c_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `dep_amount_gte_0` CHECK ((`amount` >= 0)),
  CONSTRAINT `dep_currency_upper` CHECK ((`currency` = upper(`currency`)))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_deposit`
--

LOCK TABLES `payments_deposit` WRITE;
/*!40000 ALTER TABLE `payments_deposit` DISABLE KEYS */;
INSERT INTO `payments_deposit` VALUES (1,'SIMULATED',300.00,'EUR','AUTORISEE',NULL,NULL,'2026-08-05 16:24:40.053904',NULL,NULL,NULL,'2026-08-05 16:24:40.044833','2026-08-05 16:24:40.054164',2),(2,'SIMULATED',0.00,'EUR','AUTORISEE',NULL,NULL,'2026-08-07 07:36:31.871870',NULL,NULL,NULL,'2026-08-07 07:36:32.172237','2026-08-07 07:36:32.172248',3);
/*!40000 ALTER TABLE `payments_deposit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_payment`
--

DROP TABLE IF EXISTS `payments_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `provider` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `stripe_payment_intent_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `failure_code` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `failure_message` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `succeeded_at` datetime(6) DEFAULT NULL,
  `failed_at` datetime(6) DEFAULT NULL,
  `cancelled_at` datetime(6) DEFAULT NULL,
  `reservation_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stripe_payment_intent_id` (`stripe_payment_intent_id`),
  KEY `pay_reservation_idx` (`reservation_id`),
  KEY `pay_status_idx` (`status`),
  KEY `pay_pi_idx` (`stripe_payment_intent_id`),
  KEY `payments_payment_status_fc8cbda2` (`status`),
  CONSTRAINT `payments_payment_reservation_id_bf2a3267_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `pay_amount_gte_0` CHECK ((`amount` >= 0)),
  CONSTRAINT `pay_currency_upper` CHECK ((`currency` = upper(`currency`)))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_payment`
--

LOCK TABLES `payments_payment` WRITE;
/*!40000 ALTER TABLE `payments_payment` DISABLE KEYS */;
INSERT INTO `payments_payment` VALUES (3,'STRIPE',200.00,'EUR','REUSSI','pi_3U1BIPEFUqNLOdAL080PkwBz',NULL,NULL,'2026-08-05 20:20:11.640005','2026-08-06 13:20:34.791798','2026-08-06 13:20:34.791628',NULL,NULL,2),(4,'STRIPE',0.00,'EUR','REUSSI',NULL,NULL,NULL,'2026-08-07 07:36:32.154729','2026-08-07 07:36:32.154769','2026-08-07 07:36:31.871870',NULL,NULL,3);
/*!40000 ALTER TABLE `payments_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_refund`
--

DROP TABLE IF EXISTS `payments_refund`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_refund` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `stripe_refund_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `succeeded_at` datetime(6) DEFAULT NULL,
  `failed_at` datetime(6) DEFAULT NULL,
  `payment_id` bigint NOT NULL,
  `requested_by_id` bigint DEFAULT NULL,
  `reservation_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stripe_refund_id` (`stripe_refund_id`),
  KEY `ref_payment_idx` (`payment_id`),
  KEY `ref_reservation_idx` (`reservation_id`),
  KEY `ref_status_idx` (`status`),
  KEY `ref_stripe_id_idx` (`stripe_refund_id`),
  KEY `payments_refund_requested_by_id_bc87fa8f_fk_accounts_user_id` (`requested_by_id`),
  KEY `payments_refund_status_0e47ccad` (`status`),
  CONSTRAINT `payments_refund_payment_id_a70693f7_fk_payments_payment_id` FOREIGN KEY (`payment_id`) REFERENCES `payments_payment` (`id`),
  CONSTRAINT `payments_refund_requested_by_id_bc87fa8f_fk_accounts_user_id` FOREIGN KEY (`requested_by_id`) REFERENCES `accounts_user` (`id`),
  CONSTRAINT `payments_refund_reservation_id_5dc7375f_fk_reservati` FOREIGN KEY (`reservation_id`) REFERENCES `reservations_reservation` (`id`),
  CONSTRAINT `ref_amount_gte_0` CHECK ((`amount` >= 0)),
  CONSTRAINT `ref_currency_upper` CHECK ((`currency` = upper(`currency`)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_refund`
--

LOCK TABLES `payments_refund` WRITE;
/*!40000 ALTER TABLE `payments_refund` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments_refund` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_stripeevent`
--

DROP TABLE IF EXISTS `payments_stripeevent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_stripeevent` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `stripe_event_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_type` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `api_version` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payload` json NOT NULL,
  `processed` tinyint(1) NOT NULL,
  `processed_at` datetime(6) DEFAULT NULL,
  `processing_error` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stripe_event_id` (`stripe_event_id`),
  KEY `payments_stripeevent_event_type_1535b8cc` (`event_type`),
  KEY `payments_stripeevent_processed_981c4082` (`processed`),
  KEY `payments_stripeevent_created_at_181949a7` (`created_at`),
  KEY `se_event_id_idx` (`stripe_event_id`),
  KEY `se_type_idx` (`event_type`),
  KEY `se_processed_idx` (`processed`),
  KEY `se_created_idx` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_stripeevent`
--

LOCK TABLES `payments_stripeevent` WRITE;
/*!40000 ALTER TABLE `payments_stripeevent` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments_stripeevent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations_reservation`
--

DROP TABLE IF EXISTS `reservations_reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservations_reservation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `reference` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_at` datetime(6) NOT NULL,
  `end_at` datetime(6) NOT NULL,
  `status` varchar(24) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `rental_amount` decimal(10,2) NOT NULL,
  `deposit_amount` decimal(10,2) NOT NULL,
  `confirmed_at` datetime(6) DEFAULT NULL,
  `cancelled_at` datetime(6) DEFAULT NULL,
  `cancellation_reason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `client_id` bigint NOT NULL,
  `vehicle_id` bigint NOT NULL,
  `insurance_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `reference` (`reference`),
  KEY `reservation_client_status_idx` (`client_id`,`status`),
  KEY `reservation_vehicle_status_idx` (`vehicle_id`,`status`),
  KEY `reservation_period_idx` (`start_at`,`end_at`),
  KEY `reservation_created_at_idx` (`created_at`),
  CONSTRAINT `reservations_reserva_client_id_696a60bf_fk_accounts_` FOREIGN KEY (`client_id`) REFERENCES `accounts_clientprofile` (`id`),
  CONSTRAINT `reservations_reserva_vehicle_id_3a7745ab_fk_vehicles_` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`),
  CONSTRAINT `reservation_deposit_amount_non_negative` CHECK ((`deposit_amount` >= 0)),
  CONSTRAINT `reservation_end_after_start` CHECK ((`end_at` > `start_at`)),
  CONSTRAINT `reservation_rental_amount_non_negative` CHECK ((`rental_amount` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations_reservation`
--

LOCK TABLES `reservations_reservation` WRITE;
/*!40000 ALTER TABLE `reservations_reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservations_reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_blacklistedtoken`
--

DROP TABLE IF EXISTS `token_blacklist_blacklistedtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_blacklistedtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blacklisted_at` datetime(6) NOT NULL,
  `token_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_id` (`token_id`),
  CONSTRAINT `token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk` FOREIGN KEY (`token_id`) REFERENCES `token_blacklist_outstandingtoken` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_blacklistedtoken`
--

LOCK TABLES `token_blacklist_blacklistedtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` DISABLE KEYS */;
INSERT INTO `token_blacklist_blacklistedtoken` VALUES (1,'2026-08-05 11:33:25.764731',7),(2,'2026-08-09 10:01:28.362626',60),(3,'2026-08-11 13:44:48.076846',68),(4,'2026-08-11 18:53:49.927364',69),(5,'2026-08-11 18:56:25.074947',67);
/*!40000 ALTER TABLE `token_blacklist_blacklistedtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_blacklist_outstandingtoken`
--

DROP TABLE IF EXISTS `token_blacklist_outstandingtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_blacklist_outstandingtoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `token` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `expires_at` datetime(6) NOT NULL,
  `user_id` bigint DEFAULT NULL,
  `jti` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq` (`jti`),
  KEY `token_blacklist_outs_user_id_83bc629a_fk_accounts_` (`user_id`),
  CONSTRAINT `token_blacklist_outs_user_id_83bc629a_fk_accounts_` FOREIGN KEY (`user_id`) REFERENCES `accounts_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_blacklist_outstandingtoken`
--

LOCK TABLES `token_blacklist_outstandingtoken` WRITE;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `token_blacklist_outstandingtoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_brand`
--

DROP TABLE IF EXISTS `vehicles_brand`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_brand` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `vehicle_brand_name_idx` (`name`),
  KEY `vehicle_brand_active_idx` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_brand`
--

LOCK TABLES `vehicles_brand` WRITE;
/*!40000 ALTER TABLE `vehicles_brand` DISABLE KEYS */;
INSERT INTO `vehicles_brand` VALUES (1,'Probe Brand',1,'2026-08-03 15:13:44.029992','2026-08-03 15:13:44.030010');
/*!40000 ALTER TABLE `vehicles_brand` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_parking`
--

DROP TABLE IF EXISTS `vehicles_parking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_parking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `latitude` decimal(9,6) DEFAULT NULL,
  `longitude` decimal(9,6) DEFAULT NULL,
  `capacity` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `parking_name_idx` (`name`),
  KEY `parking_active_idx` (`is_active`),
  CONSTRAINT `parking_capacity_positive` CHECK ((`capacity` > 0)),
  CONSTRAINT `parking_latitude_range` CHECK (((`latitude` is null) or ((`latitude` >= -(90)) and (`latitude` <= 90)))),
  CONSTRAINT `parking_longitude_range` CHECK (((`longitude` is null) or ((`longitude` >= -(180)) and (`longitude` <= 180)))),
  CONSTRAINT `vehicles_parking_chk_1` CHECK ((`capacity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_parking`
--

LOCK TABLES `vehicles_parking` WRITE;
/*!40000 ALTER TABLE `vehicles_parking` DISABLE KEYS */;
INSERT INTO `vehicles_parking` VALUES (1,'Probe Park','a',50.000000,4.000000,10,1,'2026-08-03 15:13:44.089231','2026-08-03 15:13:44.089252');
/*!40000 ALTER TABLE `vehicles_parking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_parkingspace`
--

DROP TABLE IF EXISTS `vehicles_parkingspace`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_parkingspace` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `parking_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `parking_space_unique_number` (`parking_id`,`number`),
  KEY `parking_space_parking_idx` (`parking_id`),
  KEY `parking_space_number_idx` (`number`),
  KEY `parking_space_active_idx` (`is_active`),
  KEY `parking_space_pk_num_idx` (`parking_id`,`number`),
  CONSTRAINT `vehicles_parkingspace_parking_id_531726d0_fk_vehicles_parking_id` FOREIGN KEY (`parking_id`) REFERENCES `vehicles_parking` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_parkingspace`
--

LOCK TABLES `vehicles_parkingspace` WRITE;
/*!40000 ALTER TABLE `vehicles_parkingspace` DISABLE KEYS */;
INSERT INTO `vehicles_parkingspace` VALUES (1,'P1',1,'2026-08-03 15:13:44.101859','2026-08-03 15:13:44.101875',1),(2,'P2',1,'2026-08-05 15:29:04.607044','2026-08-05 15:29:04.607087',1),(3,'P3',1,'2026-08-11 09:22:34.796110','2026-08-11 09:22:34.796128',1),(4,'P4',1,'2026-08-11 09:22:34.807854','2026-08-11 09:22:34.807868',1),(5,'P5',1,'2026-08-11 09:22:34.815226','2026-08-11 09:22:34.815239',1);
/*!40000 ALTER TABLE `vehicles_parkingspace` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_vehicle`
--

DROP TABLE IF EXISTS `vehicles_vehicle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_vehicle` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `registration_number` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `model_name` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `year` int unsigned NOT NULL,
  `color` varchar(60) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `energy_type` varchar(60) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `transmission` varchar(60) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `seats` int unsigned NOT NULL,
  `doors` int unsigned NOT NULL,
  `mileage` int unsigned NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `brand_id` bigint NOT NULL,
  `category_id` bigint NOT NULL,
  `parking_space_id` bigint NOT NULL,
  `consumption` decimal(4,2) DEFAULT NULL,
  `euro_standard` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `extra_km_price` decimal(8,2) DEFAULT NULL,
  `included_km_per_day` int unsigned DEFAULT NULL,
  `minimum_age` int unsigned DEFAULT NULL,
  `power_hp` int unsigned DEFAULT NULL,
  `required_license` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trunk_volume` int unsigned DEFAULT NULL,
  `recommended_use` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `registration_number` (`registration_number`),
  UNIQUE KEY `parking_space_id` (`parking_space_id`),
  KEY `vehicle_status_idx` (`status`),
  KEY `vehicle_category_idx` (`category_id`),
  KEY `vehicle_brand_idx` (`brand_id`),
  KEY `vehicle_active_idx` (`is_active`),
  CONSTRAINT `vehicles_vehicle_brand_id_4d8d6d5d_fk_vehicles_brand_id` FOREIGN KEY (`brand_id`) REFERENCES `vehicles_brand` (`id`),
  CONSTRAINT `vehicles_vehicle_category_id_27ac5ae1_fk_vehicles_` FOREIGN KEY (`category_id`) REFERENCES `vehicles_vehiclecategory` (`id`),
  CONSTRAINT `vehicles_vehicle_parking_space_id_64ffbcd1_fk_vehicles_` FOREIGN KEY (`parking_space_id`) REFERENCES `vehicles_parkingspace` (`id`),
  CONSTRAINT `vehicle_doors_positive` CHECK ((`doors` > 0)),
  CONSTRAINT `vehicle_mileage_non_negative` CHECK ((`mileage` >= 0)),
  CONSTRAINT `vehicle_seats_positive` CHECK ((`seats` > 0)),
  CONSTRAINT `vehicles_vehicle_chk_1` CHECK ((`year` >= 0)),
  CONSTRAINT `vehicles_vehicle_chk_2` CHECK ((`seats` >= 0)),
  CONSTRAINT `vehicles_vehicle_chk_3` CHECK ((`doors` >= 0)),
  CONSTRAINT `vehicles_vehicle_chk_4` CHECK ((`mileage` >= 0)),
  CONSTRAINT `vehicles_vehicle_chk_5` CHECK ((`included_km_per_day` >= 0)),
  CONSTRAINT `vehicles_vehicle_chk_6` CHECK ((`minimum_age` >= 0)),
  CONSTRAINT `vehicles_vehicle_chk_7` CHECK ((`power_hp` >= 0)),
  CONSTRAINT `vehicles_vehicle_chk_8` CHECK ((`trunk_volume` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_vehicle`
--

LOCK TABLES `vehicles_vehicle` WRITE;
/*!40000 ALTER TABLE `vehicles_vehicle` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicles_vehicle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_vehicle_equipment`
--

DROP TABLE IF EXISTS `vehicles_vehicle_equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_vehicle_equipment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `vehicle_id` bigint NOT NULL,
  `vehicleequipment_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vehicles_vehicle_equipme_vehicle_id_vehicleequipm_ff380a43_uniq` (`vehicle_id`,`vehicleequipment_id`),
  KEY `vehicles_vehicle_equ_vehicleequipment_id_43b7d171_fk_vehicles_` (`vehicleequipment_id`),
  CONSTRAINT `vehicles_vehicle_equ_vehicle_id_c7128c90_fk_vehicles_` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`),
  CONSTRAINT `vehicles_vehicle_equ_vehicleequipment_id_43b7d171_fk_vehicles_` FOREIGN KEY (`vehicleequipment_id`) REFERENCES `vehicles_vehicleequipment` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_vehicle_equipment`
--

LOCK TABLES `vehicles_vehicle_equipment` WRITE;
/*!40000 ALTER TABLE `vehicles_vehicle_equipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicles_vehicle_equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_vehiclecategory`
--

DROP TABLE IF EXISTS `vehicles_vehiclecategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_vehiclecategory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `daily_rate` decimal(10,2) NOT NULL,
  `hourly_rate` decimal(10,2) DEFAULT NULL,
  `minimum_deposit` decimal(10,2) NOT NULL,
  `minimum_rental_hours` int unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `vehicle_cat_name_idx` (`name`),
  KEY `vehicle_cat_active_idx` (`is_active`),
  KEY `vehicle_cat_daily_idx` (`daily_rate`),
  CONSTRAINT `vehicle_cat_daily_rate_non_negative` CHECK ((`daily_rate` >= 0)),
  CONSTRAINT `vehicle_cat_deposit_non_negative` CHECK ((`minimum_deposit` >= 0)),
  CONSTRAINT `vehicle_cat_hourly_rate_non_negative` CHECK (((`hourly_rate` is null) or (`hourly_rate` >= 0))),
  CONSTRAINT `vehicle_cat_min_hours_positive` CHECK ((`minimum_rental_hours` > 0)),
  CONSTRAINT `vehicles_vehiclecategory_chk_1` CHECK ((`minimum_rental_hours` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_vehiclecategory`
--

LOCK TABLES `vehicles_vehiclecategory` WRITE;
/*!40000 ALTER TABLE `vehicles_vehiclecategory` DISABLE KEYS */;
INSERT INTO `vehicles_vehiclecategory` VALUES (1,'Probe Cat','d',100.00,20.00,300.00,1,1,'2026-08-03 15:13:44.062323','2026-08-03 15:13:44.062352');
/*!40000 ALTER TABLE `vehicles_vehiclecategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_vehicleequipment`
--

DROP TABLE IF EXISTS `vehicles_vehicleequipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_vehicleequipment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `label` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `vehicle_equipment_code_idx` (`code`),
  KEY `vehicle_equipment_active_idx` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_vehicleequipment`
--

LOCK TABLES `vehicles_vehicleequipment` WRITE;
/*!40000 ALTER TABLE `vehicles_vehicleequipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicles_vehicleequipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles_vehiclephoto`
--

DROP TABLE IF EXISTS `vehicles_vehiclephoto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles_vehiclephoto` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_primary` tinyint(1) NOT NULL,
  `position` int unsigned NOT NULL,
  `caption` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `vehicle_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `vehicle_photo_vehicle_idx` (`vehicle_id`),
  KEY `vehicle_photo_primary_idx` (`is_primary`),
  KEY `vehicle_photo_position_idx` (`position`),
  CONSTRAINT `vehicles_vehiclephoto_vehicle_id_810e101a_fk_vehicles_vehicle_id` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles_vehicle` (`id`),
  CONSTRAINT `vehicles_vehiclephoto_chk_1` CHECK ((`position` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles_vehiclephoto`
--

LOCK TABLES `vehicles_vehiclephoto` WRITE;
/*!40000 ALTER TABLE `vehicles_vehiclephoto` DISABLE KEYS */;
INSERT INTO `vehicles_vehiclephoto` VALUES (1,'vehicles/photos/bd9566fbf9f14c80a4a88c3795dc1ed3.jpeg',1,0,'','2026-08-11 09:35:35.530475','2026-08-11 09:35:35.530514',4);
/*!40000 ALTER TABLE `vehicles_vehiclephoto` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-21 15:57:36
